EPArValidateAddressService/SOA/WSDLs/CallAddressValidationREST.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CallAddressValidationREST"
     targetNamespace="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:tns="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp1="http://www.example.org"
     xmlns:inp2="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp3="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp4="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp5="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp6="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp7="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp8="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp9="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:inp10="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="CallAddressValidationREST">
        <plnk:role name="CallAddressValidationRESTProvider" portType="tns:CallAddressValidationREST_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org" schemaLocation="../Schemas/RestRequestResponseBPEL.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/EpArAddressValidationRESTAPI/EpArValidateAddressService/CallAddressValidationREST"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetJSONBestMatches_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="GetJSONBestMatches_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:portType name="CallAddressValidationREST_ptt">
        <wsdl:operation name="GetJSONBestMatches">
            <wsdl:input message="tns:GetJSONBestMatches_inputMessage"/>
            <wsdl:output message="tns:GetJSONBestMatches_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault6" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault7" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault8" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault9" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault2" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault3" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault4" message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault5" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
